.container {
  background: #f5f5f5;
  padding: 8px;
  border: none;
}
.title {
  font-size: 15px;
}
.amount {
  font-weight: 600;
  color: rgb(158, 113, 0);
}
.rv {
  font-weight: 600;
  color: rgb(158, 32, 0);
}
.budget {
  display: flex;
  justify-content: space-between;
}
.remains {
  display: flex;
  justify-content: space-between;
}
